.butler
    display block
    .t-tab-head-item
        color #06b3bd
    .active
        border-bottom-color #06b3bd
    .butler-profile
        text-align center
        padding-top 25px
        background-color white
        .avatar
            height 80px
            width 80px
            border-radius 50px
        .name
            display block
            font-size 25px
            margin-top 20px
            margin-bottom 20px
        .title
            display block
            font-size 15px
        .intro
            background-color #eee
            margin 20px
            padding 20px
            border-radius 5px
            line-height 20px
        .video
            img
                width 100%
        .comment
            color white
            text-align center
            background-color #38adff
            height 60px
            line-height 60px
    .butler-recommendation
        display block
        .item
            height 170px
            img
                width 100%
                height 165px
            .desc
                position relative
                top -60px
                .title
                    display block
                    padding-left 10px
                    margin-bottom 5px
                    color white
                    font-size 20px
                .subTitle
                    display block
                    width 150px
                    padding 5px 0 5px 10px
                    color white
                    background-color #38adff
                    opacity 0.8
                    font-size 15px
            .flag
                background-color yellow
                position relative
                top -217px
                width 60px
                margin-left 20px
                padding-top 10px
                padding-bottom 10px
                text-align center
                .text
                    display block
                    font-size 15px
                .number
                    display block
                    margin-top 5px
                    font-size 20px
                .triangle-topleft
                    background-color transparent
                    width 0
                    height 0
                    border-top 30px solid blue
                    border-right 30px solid transparent
                .triangle-topright
                    background-color transparent
                    width 0
                    height 0
                    border-top 30px solid blue
                    border-left 30px solid transparent
