.my
    display block
    .t-group-list
        margin-top 10px
        margin-bottom 10px
        &:active
            background-color #d9d9d9
        .head
            padding 10px
            .avatar
                display inline
                height 50px
                width 50px
                border-radius 50%
            .sec2
                display inline-block
                vertical-align top
                margin-top 5px
                margin-left 20px
                .name
                    font-size 15px
                .sub-title
                    font-size 13px
                    color #999999
