.comments
    display block
    .comment
        display block
        padding 10px
        border-bottom 0.5px solid #eee
        vertical-align top
        .head
            height 70px
            .avatar
                display inline
                height 60px
                width 60px
                border-radius 50%
                margin-right 20px
            .sec2
                display inline-block
                vertical-align top
                padding-top 5px
                .name
                    font-size 18px
                    margin-bottom 10px
                .rate
                    width 30px
                    color white
                    font-size 10px
                    background-color mediumaquamarine
                    padding 3px
                    border-radius 3px
                    text-align center
            .time
                float right
                font-size 13px
                margin-top 5px
                color #999999
        .content
            display block
            color #55555
            line-height 20px
        .pics
            display block
            margin-top 10px
            padding 5px
            .pic
                display inline
                width 65px
                height 65px
                margin-right 10px
